html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  color: white;
  font-size: x-large;
  background-color: rgb(101, 159, 226);
}

.sidebar {
  background-color: #f0f2f5;
  padding: 2px;
}

.workspace {
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;

}

.dropzone {
  width: 100%;
  height: 100%;
  border: 2px dashed #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.draggable-component {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  cursor: move;
  text-align: center;
}

.componentList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.componentItem {
  opacity: 0.5;
  background-color: white;
  padding: 2px;
  width: 5rem;
  height: 2rem;
  text-align: center;
  color: black;
  line-height: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: grab;
}

.heading {
  text-align: center;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.not-found-image {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.not-found-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.not-found-subtitle {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 20px;
}

.not-found-code {
  font-size: 1rem;
  color: #999;
  margin-bottom: 30px;
}

.home-button {
  background-color: #007BFF;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}

.drop-zone {
  width: 100%;
  min-height: 300px;
  height: 90%;
  border: 1px solid gray;
  overflow: auto;
  margin: 2px;
}